.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    .education-card, .employment-card{
        animation: slidein .6s ease-in-out;
        animation-fill-mode: both;
        width: min(100%, 50rem);
        margin-bottom: 16px;
        .avatar-image{
            background-size: cover;
        }
        .link{
            margin-top: 16px;
        }
    }
}

@for $i from 1 through 2 {
    .flex mat-card:nth-child(#{$i}){
        animation-delay: calc($i*0.2s - 0.2s);
    }
}

@keyframes slidein {
    from {
        transform: translateY(+100%);
        filter: blur(1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.education-card{
    .avatar-image{
        background-image: url('../../../261020_aau-logo/__AAU_LEFT_WHITE_UK.png');
    }
}