<div class="flex">
    <mat-card class="employment-card">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p></p>
            <mat-divider></mat-divider>
            <h1>Links to organisation: </h1>
        </mat-card-content>
    </mat-card>
</div>

<div class="flex">
    <mat-card class="education-card">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>Aalborg University</mat-card-title>
            <mat-card-subtitle>Sep 2019 - Jul 2022</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Bachelor of Science in Computer Science from Aalborg University</p>
            <mat-divider></mat-divider>
            <h1>Link to organisation</h1>
        </mat-card-content>
    </mat-card>
</div>