.header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
    .align{
        width: min(100%, 50rem);
        display: flex;
        padding: 0;
        margin: 0;
        border: 0;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        .header-title{
            margin-right: auto;
        }
        .sep{
            border-left: 2px solid;
            border-bottom: 10px solid;
            border-color: #ffffff;
            height: 33%;
            margin: 1ch;
        }
    }

    @media (max-width: 80ch) {
        .header-button-long{
            visibility: hidden;
            margin: 0;
            border: 0;
            padding: 0;
            width: 0%;
            position: absolute;
        }
    }

    @media (min-width: 80ch) {
        .header-button-long{
            width: fit-content;
        }

        .header-button-short{
            visibility: hidden;
            margin: 0;
            border: 0;
            padding: 0;
            width: 0%;
        }
    }
}