.header{
    display: flex;

    .spacer{
        flex: 1 1 auto;
    }

    .header-button{
        width: fit-content;
    }

    .sep{
        border-left: 2px solid;
        border-color: #cccccc;
        height: 33%;
        margin: 1ch;
    }
}