<mat-toolbar class="header">
    <h1>Portfolio</h1>
    <span class="spacer"></span>
    <button mat-stroked-button class="header-button-long">Home</button>
    <button mat-icon-button class="header-button-short"><mat-icon fontIcon="home"></mat-icon></button>
    <div class="sep"></div>
    <button mat-stroked-button class="header-button-long">Education & Experience</button>
    <button mat-icon-button class="header-button-short"><mat-icon fontIcon="school"></mat-icon></button>
    <div class="sep"></div>
    <button mat-stroked-button class="header-button-long">Projects List</button>
    <button mat-icon-button class="header-button-short"><mat-icon fontIcon="list_alt"></mat-icon></button>
</mat-toolbar>

<router-outlet></router-outlet>