@use '@angular/material' as mat;
@import '../../styles.scss';

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    .project-card{
        animation: slidein .6s ease-in-out;
        animation-fill-mode: both;
        width: min(100%, 50rem);
        margin-bottom: 16px;
        .avatar-image{
            background-size: cover;
        }
        .tech-header{
            margin-top: 16px;
        }
        .tech-container{
            display: flex;
            flex-wrap: wrap;
            .tech{
                border-radius: 3px;
                margin: 5px;
                margin-bottom: 16px;
                background-color: #303030;
                border: 1px solid;
                border-color: #212121;
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        .link{
            margin-top: 16px;
        }
    }
}

@for $i from 1 through 3 {
    .flex .project-card:nth-child(#{$i}){
        animation-delay: calc($i*0.2s - 0.2s);
    }
}

@keyframes slidein {
    from {
        transform: translateY(+100%);
        filter: blur(1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.divider{
    margin-top: 16px;
}