<div class="flex">
    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title>Portfolio Website</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>The project containing the source code generating this webpage</p>
            <mat-divider></mat-divider>
            <p class="tech-header">Technology stack:</p>
            <div class="tech-container">
                <div class="tech">Node.js</div>
                <div class="tech">Angular</div>
                <div class="tech">Angular Material</div>
                <div class="tech">Sass</div>
                <div class="tech">Docker</div>
                <div class="tech">Nginx</div>
            </div>
            <mat-divider></mat-divider>
            <button class="link" mat-stroked-button onclick="window.location.href='https://github.com/JeppeMldrup/Portfolio'">Link to GitHub</button>
        </mat-card-content>
    </mat-card>
</div>

<div class="divider"></div>

<div class="flex">
    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title>Angular List PWA</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>A PWA that enables users to keep lists of predefined item types, functioning as a virtual log of wares</p>
            <mat-divider></mat-divider>
            <p class="tech-header">Technology stack:</p>
            <div class="tech-container">
                <div class="tech">Node.js</div>
                <div class="tech">Angular</div>
                <div class="tech">Angular Material</div>
                <div class="tech">Sass</div>
                <div class="tech">Docker</div>
                <div class="tech">Nginx</div>
                <div class="tech">OpenAPI</div>
            </div>
            <mat-divider></mat-divider>
            <button class="link" mat-stroked-button onclick="window.location.href='https://github.com/JeppeMldrup/AngularListPWA'">Link to GitHub</button>
        </mat-card-content>
    </mat-card>
</div>