.avatar{
    margin: 6ch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .picture{
        border-radius: 100%;
        width: 25ch;
        height: 25ch;
    }
    .rest{
        align-content: center;
    }
    .name{
    }
    .title{
        font-size: medium;
    }
}

.divider{
    margin: 3ch;
    border-top: 2px solid;
    border-color: #222222;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
    align-self: center;
}
.link-header{
    font-size: x-large;
}
.links{
    margin-left: 5ch;
    display: flex;
    flex-wrap: wrap;
    .link-image{
        width: 10ch;
    }
}