<div class="flex">
    <mat-card class="profile-card">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>Jeppe Volckaerts Møldrup</mat-card-title>
            <mat-card-subtitle>B.Sc. in Computer Science</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                A software developer focusing on full-stack development for the web and native phone applications.
                Experience using technologies such as Angular, React, Docker, Kubernetes, Nginx, Node.js, etc.
            </p>
            <mat-divider></mat-divider>
            <h1>Links:</h1>
            <div class="links">
                <button class="link" mat-stroked-button onclick="window.location.href='https://www.linkedin.com/in/jeppe-m%C3%B8ldrup-8780b6169/'">LinkedIn</button>
                <button class="link" mat-stroked-button onclick="window.location.href='https://github.com/JeppeMldrup'">GitHub</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>