@media (min-width: 100ch) {
    .avatar{
        display: flex;
        .rest{
            margin-top: 5ch;
            margin-left: 5ch;
        }
    }
}

@media (max-width: 100ch) {
    .avatar{
        display: flexbox;
        .picture{
            flex-grow: 1 1 auto;
        }
        .rest{
            margin-top: 2ch;
        }
    }
}

.avatar{
    padding: 2ch;
    .picture{
        border-radius: 100%;
        width: 25ch;
        height: 25ch;
    }
    .rest{
        align-content: center;
    }
    .name{
        font-size: xx-large;
    }
    .title{
        font-size: medium;
    }
}

.divider{
    margin: 3ch;
    border-top: 2px solid;
    border-color: #222222;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
    align-self: center;
}
.links{
    margin-left: 5ch;
    .link-header{
        font-size: x-large;
    }
    .link{
        font-size: large;
        display: block;
        
    }
}

@media (max-width: 55ch) {
    .avatar{
        .name{
            font-size: x-large;
        }
        .title{
            font-size: small;
        }
    }
}