.flex{
    display: flex;
    justify-content: center;
    .profile-card{
        width: min(100%, 50rem);
        .avatar-image{
            background-image: url(../../../Picture.jpg);
            background-size: cover;
            height: 5rem;
            width: 5rem;
        }
        .links{
            display: flex;
            justify-content: space-between;
            .link{
                width: 45%;
            }
        }
    }
}